<td colspan="2" style="background: #EEE;"></td>
<td colspan="4">
    <table class="pw-table">
        <tbody>
        <tr>
            <td>Order Status :</td>
            <td>
              {{data.order.orderStatus}}
            </td>
        </tr>
        <tr>
            <td>Order Type :</td>
            <td>
              {{data.order.orderType}}
            </td>
        </tr>
        <tr>
            <td>Payment Status :</td>
            <td>
              {{data.order.payment.status}}
            </td>
        </tr>
        <tr>
            <td>Payment Amount :</td>
            <td>
              {{data.order.payment.totalAmount}}
            </td>
        </tr>
        </tbody>
    </table>
</td>

<td colspan="4" style="background: #EEE;"></td>