<tr>
    <td colspan="2"></td>
    <td colspan="4">
        <span class="pw-label pw-label-primary pw-label-xs">Created</span>
        <span class="pw-label pw-label-danger pw-label-xs">cAnceled</span>
        <span class="pw-label pw-label-success pw-label-xs">Paid</span>

        &nbsp;
        &nbsp;

        <span class="pw-label pw-label-primary pw-label-xs">Chartered</span>
        <span class="pw-label pw-label-danger pw-label-xs">Deal</span>
        <span class="pw-label pw-label-success pw-label-xs">Shuttle</span>
    </td>
</tr>