<td colspan="2" style="background: #EEE;"></td>
<td colspan="4">
    <table class="pw-table">
        <tbody>
        <tr>
            <td>Description :</td>
            <td>{{data.description}}</td>
        </tr>

        <tr>
            <td>Count Type :</td>
            <td>
              {{data.countType}}
            </td>
        </tr>

        <tr>
            <td>Pricing Condition :</td>
            <td>
              {{data.pricingCondition}}
            </td>
        </tr>

        <tr>
            <td>Condition Amount :</td>
            <td>
              {{data.conditionAmount}}
            </td>
        </tr>
        </tbody>
    </table>
</td>

<td colspan="2" style="background: #EEE;"></td>