<td colspan="2" style="background: #EEE;"></td>
<td colspan="3">
  {{pw-image default="images/amenities.png" source=data.logo style="max-width: 100px; float: left; margin-right: 8px;"}}

    <div>
      {{pw-upload
      register-as=uploader
      url=(concat "config/amenities/logo/" data.id)
      class="filestyle"
      data-input="false"
      uploadFileChanged=(action "click" "uploadFileChanged" data)
      uploadProgress=(action "click" "uploadProgress" data)
      uploadCompleted=(action "click" "uploadCompleted" data)
      uploadError=(action "click" "uploadError" data)
      }}
    </div>

    <div>
      {{#if uploader.uploading}}
        <span>
        {{format-number uploader.percentage precision=0}} %
        </span>
      {{/if}}
      {{#if uploader.error}}
      <span>
        Error, uploading file.
      </span>
      {{/if}}
    </div>
</td>