<div class="wrapper">
  {{pw-sidebar onSelectRoute=(action 'selectRoute') menus=menus}}

    <div class="page-content-wrapper">
      {{pw-pageheader
      notifications=notifications
      updateUserProfile=(action 'updateUserProfile')
      changePassword=(action 'changePassword')
      refreshToken=(action 'refreshToken')
      logout=(action 'logout')
      selectRoute=(action 'selectRoute')
      profile=administrator
      }}
        <div class="page-content">
          {{outlet}}
        </div>
    </div>
</div>