<tr><td></td>
    <td colspan="8">
        <span style="color: #888;font-size: 10px;">Payment Status :</span>
        <span class="pw-label pw-label-primary pw-label-xs">Created</span>
        <span class="pw-label pw-label-warning pw-label-xs">Waiting Confirmation</span>
        <span class="pw-label pw-label-success pw-label-xs">Paid</span>

        &nbsp;
        &nbsp;
        <span style="color: #888;font-size: 10px;">Booking Status :</span>
        <span class="pw-label pw-label-primary pw-label-xs">Created</span>
        <span class="pw-label pw-label-danger pw-label-xs">cAnceled</span>
        <span class="pw-label pw-label-success pw-label-xs">Paid</span>
        <span class="pw-label pw-label-purple pw-label-xs">cOnfirmed</span>

        &nbsp;
        &nbsp;
        <span style="color: #888;font-size: 10px;">Booking Type :</span>
        <span class="pw-label pw-label-primary pw-label-xs">Chartered</span>&nbsp;<span class="pw-label pw-label-danger pw-label-xs">Deal</span>&nbsp;<span class="pw-label pw-label-success pw-label-xs">Shuttle</span>
    </td>
</tr>